# Python virtual environments
venv/
# Python virtual environment files
__pycache__/
.pytest_cache/

#files with credentials
.env
credentials.json

#folder with unnecessary files
qr_codes/

#database files
*.db